@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */

.App {
  font-family: "Roboto", sans-serif;
}

header {
  height: 10vh;
  border-bottom: 1px solid black;
}

.main_header {
  padding-top: 1rem;
  padding-left: 8rem;
  font-size: 200%;
  font-family: "Orelega One", cursive;
}

.form_container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 15px;
}

.inner_form {
  right: 40px;
  top: 100px;
  position: absolute;
  background-color: #ddd;
  width: 30%;
}

.form_header {
  background-color: rgb(115, 125, 152);
  color: white;
  padding: 10px 30px;
  text-align: center;
  font-weight: bolder;
  margin: 0;
}

.inner_form form {
  border: 0.0625rem solid #a3bac6;
  padding: 5px 20px 20px;
}

form p,
.small-note {
  text-align: center;
  font-size: small;
}

.asteric {
  color: #e69316;
}

form button {
  width: 100%;
  background-color: #02b500 !important;
}

.big-text {
  font-size: 2rem;
  padding: 50px 0 10px;
  font-weight: bold;
  line-height: 1.75rem;
}

.third_container {
  max-width: 60% !important;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.colorful-banner {
  background-color: rgb(163, 145, 97);
  color: white;
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 40px;
}

.colorful-banner p {
  margin: 0;
}

.fourth-container {
  background-color: rgb(26, 43, 66);
  height: 70vh;
  padding: 60px;
}

.fourth-container h2 {
  color: #a39161;
  font-weight: bold;
  text-align: center;
}

.fourth-container hr {
  background-color: #a39161;
  font-weight: bold;
  width: 100px;
  height: 3px !important;
  margin: 10px auto 30px;
  text-align: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 20px;
  margin-top: 20px;
  color: white;
}

.grid-item {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.block-four {
  max-width: 75%;
  margin: auto;
}

.grid-item button {
  background-color: rgb(163, 145, 97);
  color: white;
  border-color: rgb(163, 145, 97);
  width: 100%;
  font-weight: bold;
  padding: 15px;
}

.fifth_container hr {
  background-color: #1a35a7;
  font-weight: bold;
  width: 100px;
  height: 3px !important;
  margin: 10px auto 30px;
  text-align: center;
}

.fifth_container h2 {
  margin-top: 40px;
  color: #1a35a7;
  font-weight: bold;
  text-align: center;
}

.fifth-grid {
  padding: 0px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.fifth-grid-item {
  padding: 30px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fifth-grid-item b {
  font-size: 120%;
  text-transform: uppercase;
}

.fifth-grid-item p {
  margin-top: 1rem;
}

.bold-container b {
  font-size: 120%;
}

.bold-container {
  max-width: 600px;
  margin: auto;
}

.fifth_container {
  text-align: center;
}

.bold-container button {
  background-color: rgb(163, 145, 97);
  color: white;
  border-color: rgb(163, 145, 97);
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 50px;
  font-weight: bold;
}

.sixth-container {
  background-color: rgb(30, 36, 55);
  height: 80vh;
}

.seventh_container {
  max-width: 50vw;
  margin: 50px auto;
  border: 0.0625rem solid #a3bac6;
  background-color: #ddd;
}

.seventh_container form{
  padding: 20px;
}

.seventh_container button{
  width: auto;
  margin: auto;
  display: flex;
}

button{
  border: none !important;
}